<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if (gt IE 6)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Sinatra</title>
	<meta name="description" content="Sinatra">
	<meta name="author" content="Adrian Cuadros">
</head>
<body>
	<%= yield %>
</body>
</html>